.warna-bg{
	background: linear-gradient(to right, rgba(238, 118, 5, 0.92), rgba(224, 165, 88, 0.92));
}

.jumbotron-bg{
	background-size: cover;
	background: url(../img/bg.jpg);
	background-size: 500px;
}
/* awal jumbotron 2 */


/* akhir jumbotron 2 */

